.section-wrapper {
  flex: auto;
  border-radius: 16px;
  background: var(--silver-800);
  padding: 16px;
  overflow: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-auto-columns: 1fr;
  gap: 32px 32px;
  grid-auto-flow: row;
  justify-items: stretch;

  @media (width <= 1440px) {
    grid-auto-columns: auto;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content auto;
    gap: 16px 16px;
  }
}

.preview {
  padding: 16px;
  border: 1px solid var(--silver-200);
  background: var(--isabelline-900);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  grid-area: 2 / 2 / 3 / 3;

  @media (width <= 1440px) {
    grid-area: 4 / 1 / 5 / 2;
  }
}

.qr-preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.generate-button {
}
